<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vkedco.mobappdev.book_content_provider_00001"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/the_gift_cover"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		 <provider
        		android:name=".BookContentProvider_00001"
        		android:authorities="org.vkedco.mobappdev.content_providers.books"
        		android:process=":org.vkedco.mobappdev.content_providers.books"
        		>
		</provider>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
